---
import ClientList from "../components/ClientList.astro";
import ContactButton from "./utils/ContactButton.html";
import TestimonialCarousel from "./TestimonialCarousel.tsx";
---

<div class="bg-white w-full">
  <div class="container flex items-center justify-between md:p-6 mx-auto">
    <section class="py-8 md:py-6 solway-light">
      <div class="container mx-auto px-4">
        <h2 class="text-cool-green text-4xl font-bold text-center mb-6">
          Our Clients
        </h2>
        <p
          class="text-gray-800 text-center manrope-light w-full md:w-3/4 mx-auto mb-10 text-pretty md:text-balanced"
        >
          Clients of International Facilitators Organization (IFO) and our
          facilitators are associations, industry trade groups, companies of all
          sizes, academic institutions and associations, government agencies,
          school districts (both central offices and licensed school
          professionals).
        </p>

        <ClientList />
      </div>
    </section>
  </div>

  <ContactButton />

  <div class="bg-cool-green">
    <div
      class="mx-auto manrope-light px-4 w-full md:px-25 lg:px-20 pb-10 lg:max-w-250"
    >
      <TestimonialCarousel client:load />
    </div>
  </div>
</div>
