---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import EditableFacilitatorProfile from "../../components/EditableFacilitatorProfile.tsx";
import { getAllFacilitators, getFacilitatorById } from "../../lib/turso";

export async function getStaticPaths() {
  const facilitators = await getAllFacilitators();

  return facilitators.map((facilitator) => ({
    params: { id: facilitator.id },
  }));
}

const { id } = Astro.params;
const f = await getFacilitatorById(id);

if (!f) {
  return Astro.redirect("/404");
}
---

<Layout title="Facilitators">
  <Header />
  <div class="w-full mx-auto">
    <div
      class="pt-22 bg-linear-to-br from-warm-green to-cool-green flex flex-col items-center"
    >
      <div class="flex flex-row md:gap-4 gap-2 mx-auto items-center">
        <div
          class="max-w-24 max-h-24 md:max-w-64 md:max-h-64 mx-auto overflow-hidden"
        >
          <img
            src={`/facilitator-photos/${f.firstName}${f.lastName.replace(/'/g, "")}.jpg`}
            alt="Facilitator placeholder image"
            class="object-cover"
          />
        </div>
        <p class="text-white text-3xl lg:text-5xl solway-bold flex-grow-1">
          {f.firstName}
          {f.lastName}
        </p>
      </div>
    </div>
    <EditableFacilitatorProfile client:load facilitator={f} />
  </div>
  <Footer />
</Layout>
