---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import EditableFacilitatorProfile from "../../components/EditableFacilitatorProfile.astro";
import { getFacilitatorById } from "../../lib/turso";
import { clerkClient } from "@clerk/astro/server";

export const prerender = false;

const { id } = Astro.params;
const f = await getFacilitatorById(id);

if (!f) {
  return Astro.redirect("/404");
}

const user = await Astro.locals.currentUser();

const orgMemberships = user
  ? await clerkClient(Astro).users.getOrganizationMembershipList({
      userId: user.id,
    })
  : null;
const userEmail = user?.emailAddresses?.[0]?.emailAddress;
const canEdit =
  user &&
  (orgMemberships?.data?.some((org) => org.role === "org:admin") ||
    userEmail === f.email);
console.log(userEmail, f.email, canEdit);
---

<Layout title="Facilitators">
  <Header />
  <div class="w-full mx-auto">
    <div
      class="pt-22 bg-linear-to-br from-warm-green to-cool-green flex flex-col items-center"
    >
      <div class="flex flex-row md:gap-4 gap-2 mx-auto items-center">
        <div
          class="max-w-24 max-h-24 md:max-w-64 md:max-h-64 mx-auto overflow-hidden"
        >
          <img
            src={`/facilitator-photos/${f.firstName}${f.lastName.replace(/'/g, "")}.jpg`}
            alt="Facilitator placeholder image"
            class="object-cover"
          />
        </div>
        <div
          class="flex flex-col md:flex-row items-start md:items-center gap-2 md:gap-4 grow"
        >
          <p class="text-white text-3xl lg:text-5xl solway-bold">
            {f.firstName}
            {f.lastName}
          </p>
          {
            canEdit && (
              <>
                <button
                  id="edit-button"
                  class="rounded-full bg-white text-cool-green font-bold px-4 py-1 manrope-bold hover:bg-orange-300 hover:text-amber-700 hover:cursor-pointer text-sm"
                >
                  Edit Profile
                </button>
                <button
                  id="cancel-button-header"
                  class="rounded-full bg-white text-gray-700 font-bold px-4 py-1 manrope-bold hover:bg-gray-100 text-sm hidden hover:cursor-pointer"
                >
                  Cancel
                </button>
              </>
            )
          }
        </div>
      </div>
    </div>
    <EditableFacilitatorProfile client:load facilitator={f} />
  </div>
  <Footer />
</Layout>
